*
{
    border:0;
    padding:0;
    margin:0;
}

body
{
    background: #FFFFFF url(/images/body-bg.png);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #949494;
}


#login
{
    background: transparent url(/images/login-bg.png) repeat-x;
    height: 250px;
    width:100%;
    margin-top: -125px;
    position:absolute;
    top:50%;
}

#login .wrapper
{
    width:960px;
    margin-left:auto;
    margin-right:auto;
    height:250px;
}

#login .logo
{
    background: transparent url(/images/miguest-sprite.png) 0 -85px no-repeat;
    height: 71px;
    width:248px;
    float:left;
    margin-top:90px;
    margin-left:220px;
}

#login .form
{
    float:left;
    margin-top:85px;
    margin-left: 20px;
}

#login .input-text, #login .input-password
{
    border-radius: 3px;
    border:2px solid #EEEEEE;
    margin-bottom: 10px;
    font-size: 12px;
    padding:8px;
    color: #949494;
    width: 230px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#login .input-login
{
    background: transparent url(/images/miguest-sprite.png) 0 0 no-repeat;
    cursor: pointer;
    width: 59px;
    height: 32px;
}

#login .copyright
{
    font-size:10px;
    text-transform: uppercase;
    color: #949494;
    margin-top: 55px;
    text-align: center;
}

#login a, #login a:visited, #login a:link
{
    color: #A6B6CE;
    text-decoration: none;
}

#login a:hover
{
    color: #859BBC;
}

#login .alert
{
    border-bottom: 1px solid #EEF1EF;
    border-left: 1px solid #EEF1EF;
    border-right: 1px solid #EEF1EF;
    position: absolute;
    text-align:center;
    margin: 1px 200px;
    padding: 12px;
    width: 540px;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
}

#login .alert.error
{
    background: #FCDCD2;
    color: #DD6D4B;
}

#login .alert.info
{
    background: #F6FBDA;
    color: #BBC157;
}

#login .alert.success
{
    background: #EFFAEA;
    color: #3B8C8B;
}

#login p.title
{
    margin: 10px 2px 20px;
    font-size:13px;
    letter-spacing: 0.5px;
    text-transform:uppercase;
}

.clear-fix
{
    clear:both;
}
